body
{
	background-color: gray;
	font-family: Verdana;
	font-size: 20px;
	color: white;
}

h1
{
	font-size: 48px;
	color: blue;
	
}
/* Nieodwiedzony link */
a:link
{
	color: yellow;
}

/* odwiedzony link*/
a:visited
{
	color: yellow;
}

/* Link po najechaniu kursorem */
a:hover
{
	color: black;
}